* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    display: block;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

a {
    text-decoration: none;
    display: block;
}

.intro-title, .intro-side {
    width: 50%;
}

.intro-title {
    font-size: 65px;
    line-height: 86px;
}

.intro-title span {
    color: #06C3A6;
}

.conference-info, .conference-img {
    width: 50%; 
}